#map {
    height: 700px;
    width: 100%;
    margin: 0 5px;
    /* position: absolute; */
}

.transform-slider {
    height: 700px;
    width: 450px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
}

.clock-element {
    min-width: 52px;
    min-height: 52px;
    padding: 10px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    border: 3px solid #8b29a8c0;
    margin: 2px 5px;
}



